<div class="mean">
    <a href="home">mean</a>
    <a href="#">overview</a>
    <a href="access">access</a>
    <a href="#">new</a>
    <a href="#">learn</a>
    <a href="getin">get in</a>
    <a href="/contact">contact</a>
    <a href="services">services</a>
    <div class="upsin">
    </div>
</div>
<hr>
<hr>

<div class="fixed-content">
  <div class="top-links">
      <input type="text" placeholder="Enter email to login or signup">
      <a href="/login" class="login-button">
        <button class="login">Login</button>
    </a>
    <a href="/sigup" class="Sigup-button">
      <button class="sigup">sigup</button>
    </a>
  </div>
  <div class="bottom-links">
      <a href="services">Service</a>
      <a href="Ourprocess">Our Process</a>
      <a href="FAQs">FAQs</a>
      <a href="new">New</a>
      <a href="company">Company</a>
      <a href="Getin">Get in</a>
      <a href="Clientportal">Client portal</a>
      <a href="REquestaQuote">Request a Quote</a>
      <a href="PrivacyPolice">Privacy Police</a>
      <a href="Termsandcondation">Terms and Conditions</a>
  </div>
</div>

<router-outlet></router-outlet>
