<h2>Event Binding</h2>
<!-- <button (click)="showData($event)">EventData</button> -->
<button on-click = "shwData()">Click here</button>
<input type="text" [value]="Name">

<p [class]="myClass">this myClass</p>
<p [class.blue]="applyMyClass">this applymyclass</p>
<input type="text" [(ngModel)]="username">
<p>this is two way databinding. hello! {{username}}</p>
<button type="submit" (click)="myAction()">submit</button>
<div (keydown)="onKeydown($event)">
    hi this key or not?
  </div>


  <div class="form">
    <form method="post">
       <div class="container">
          <label for="username"><b>Username</b></label>
          <input type="text" name="username" required>
       
          <label for="password"><b>Password</b></label>
          <input type="password" name="password" required>
       
          <label for="confirm_password"><b>Confirm Password</b></label>
          <input type="password" name="confirm_password" required>
       
          <button type="submit" (click)="registerAccount($event)">Register</button>
       </div>
    </form>
 </div>


 <p [class]="color">this nagaraju color</p>