<form>
    <div class="sin">
        <h1>SIGIN</h1>
    <table>
    <tr>
        <td>
            Enter the Fist Name:
        </td>
        <td>
            <input type="text" placeholder="Fist Name">
        </td>
    </tr>
    <tr>
        <td>
            Enter the Secound Name:
        </td>
        <td>
            <input type="text" placeholder="Secounnd Name">
        </td>
    </tr>
    <tr>
        <td>
            Enter the your Phone Number:
        </td>
        <td>
            <input type="number" placeholder="Phone Number">
        </td>
    </tr>
    <tr>
        <td>
            Enter your Email:
        </td>
        <td>
            <input type="Email" placeholder="Email">
        </td>
    </tr>
    <tr>
        <td>
            Enter your Password:
        </td>
        <td>
            <input type="password" placeholder="Password">
        </td>
    </tr>
    <tr>
        <td>
            conf password:
        </td>
        <td>
            <input type="password" placeholder="password">
        </td>
    </tr>
    <tr>
        <td>
            <button>complet</button>
        </td>
    </tr>
</table>
</div>

</form>
