.image-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  .image-container .images {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 100%;
    gap: 10px; 
  }
  
  .image-container img {
    height: 30vh; 
    width: 100%; 
    flex: 0 0 auto;
    border-radius: 20px;
    
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .arrow.left {
    left: 10px;
  }
  
  .arrow.right {
    right: 10px;
  }
