<!-- <div *ngIf="isVisible">This div is visible only if isVisible is true.</div>

<ul>
    <li *ngFor="let item of items">{{ item }}</li>
  </ul>

  
  <div [ngClass]="{ 'active': isActive, 'disabled': isDisabled }">
    This div's class changes based on isActive and isDisabled.
  </div> 
  

  <div [ngStyle]="{ 'color': isRed ? 'red' : 'blue' }">
    This text color is conditionally red or blue.
  </div>
  
  <button (click)="toggleColor()">Toggle Color</button> -->



  <h1 appCustome>this heading tag</h1>