<div>
  This for Student Table
<table>
  <thead>
    <tr>
      <td>
        Name
      </td>
      <td>
        phone Number
      </td>
      <td>
        Parent Name
      </td>
      <td>
        Parent Number
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <input type="text">
      </td>
      <td>
        <input type="number">
      </td>
      <td>
        <input type="Name">
      </td>
      <td>
        <input type="number">
      </td>
    </tr>
    <tr>
      <td>
        <input type="text">
      </td>
      <td>
        <input type="number">
      </td>
      <td>
        <input type="Name">
      </td>
      <td>
        <input type="number">
      </td>
    </tr>
    <tr>
      <td>
        <input type="text">
      </td>
      <td>
        <input type="number">
      </td>
      <td>
        <input type="Name">
      </td>
      <td>
        <input type="number">
      </td>
    </tr>
    <tr>
      <td>
        <input type="text">
      </td>
      <td>
        <input type="number">
      </td>
      <td>
        <input type="Name">
      </td>
      <td>
        <input type="number">
      </td>
    </tr>
  </tbody>
</table>
</div>

This is Emptable so that its use the main the seater

  <div>
    <table>
      <thead>
        <tr>
          <td>
            Name
          </td>
          <td>
            EmpName
          </td>
          <td>
            Address
          </td>
          <td>
            EmpphoneNumber
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input type="text">
          </td>
          <td>
            <input type="number">
          </td>
          <td>
            <input type="Name">
          </td>
          <td>
            <input type="number">
          </td>
        </tr>
        <tr>
          <td>
            <input type="text">
          </td>
          <td>
            <input type="number">
          </td>
          <td>
            <input type="Name">
          </td>
          <td>
            <input type="number">
          </td>
        </tr>
        <tr>
          <td>
            <input type="text">
          </td>
          <td>
            <input type="number">
          </td>
          <td>
            <input type="Name">
          </td>
          <td>
            <input type="number">
          </td>
        </tr>
        <tr>
          <td>
            <input type="text">
          </td>
          <td>
            <input type="number">
          </td>
          <td>
            <input type="Name">
          </td>
          <td>
            <input type="number">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="redd">
    <table>
      <thead>
        <tr>
          <td>
            Fist Name
          </td>
          <td>
            Secound Name
          </td>
          <td>
            Phone Number
          </td>
          <td>
            G-mail-id
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input type="text">
          </td>
          <td>
            <input type="text">
          </td>
          <td>
            <input type="number">
          </td>
          <td>
            <input type="Gmail">
          </td>
        </tr>
        <tr>
          <td>
            <input type="text">
          </td>
          <td>
            <input type="text">
          </td>
          <td>
            <input type="number">
          </td>
          <td>
            <input type="Gmail">
          </td>
        </tr>
        <tr>
          <td>
            <input type="text">
          </td>
          <td>
            <input type="text">
          </td>
          <td>
            <input type="number">
          </td>
          <td>
            <input type="Gmail">
          </td>
        </tr>
        <tr>
          <td>
            <input type="text">
          </td>
          <td>
            <input type="text">
          </td>
          <td>
            <input type="number">
          </td>
          <td>
            <input type="Gmail">
          </td>
        </tr>
        <tr>
          <td>
            <input type="text">
          </td>
          <td>
            <input type="text">
          </td>
          <td>
            <input type="number">
          </td>
          <td>
            <input type="Gmail">
          </td>
        </tr>
      </tbody>
    </table>
  </div>