<div>
  <form [FormGroup]="signandlogin">
    <input type="text"  placeholder="Fist Name" formControl="firstName">
    <input type="text"  placeholder="Secound Name" formControl="lastName">
    <input type="number"  placeholder="Age" formControl="age">
    <input type="number"  placeholder="Phone Number" formControl="phoneNumber">
    <input type="gmail"  placeholder="G-mail" formControl="email">
    <input type="password"  placeholder="password" formControl="password">
    <input type="confirmPassword"  placeholder="confirmPassword" formControl="confirmPassword">
  </form>
</div>
  