<!-- <link rel="stylesheet" href="../assets/my.component.css"> -->
      <!-- <h1>Hello</h1> -->
      <!-- <div class="box">This is a box</div>
      <div class="text">This is some text</div> -->
      

      <!-- <div class="theme-container">
        <h1>Angular Dynamic Theming</h1>
        <button (click)="switchToLightTheme()">Light Theme</button>
        <button (click)="switchToDarkTheme()">Dark Theme</button>
      </div>
      <h1>{{value}}</h1>

      <p>This is content from the component template</p>
   <ng-content></ng-content>
<p>This is another content from component template</p>  -->

  

<!-- pipes templet -->

<!-- <div _ngcontent-ng-c323970836="">
  The current date and time is 7/29/23, 3:35 PM
</div>

<div>
  The current date and time is {{ currentDate | date:'short' }}
</div>

<div [class.hide]="hidestates">
  <p>this will hide</p>
</div>
<button (click)="hide()">hide</button>
<button (click)="show()">show</button>
<div>
  @if(showfiled){
    this nagaraju
   }
</div>

<svg class="chart" width="420" height="150">
  <title id="title">Bar chart</title>
  <desc id="desc">Fruits count</desc>
  <g class="bar">
     <rect width="50" height="19"></rect>
     <text x="55" y="9.5" dy=".35em">5 Apples</text>
  </g>
  <g class="bar">
     <rect width="100" height="19" y="20"></rect>
     <text x="105" y="28" dy=".35em">10 Orange</text>
  </g>
  <g class="bar">
     <rect width="40" height="19" y="40"></rect>
     <text x="45" y="48" dy=".35em">2 Lemons</text>
 </g>
</svg>

Binding & it's Types
 <h1>{{Name}}</h1>

 attr Binding
  <input type="text" [attr.Value]="Name">
  <input type="text" Value="Nagaraju">

  <button [style]="myStyle">click here</button>
  <button [class]="myClass">clickhere</button>
  <button class="fancy-button">clcikClass</button>

  <app-databinding></app-databinding> -->

 <app-pipes></app-pipes>