<div class="sign">
    <label id="sig">SIG IN</label>
    <hr>
    <label>Fist Name</label>
    <input type="text" placeholder="Fist Name">
    <label>Secound Name</label>
    <input type="text" placeholder="Secound Name">
    <label>Phone Number</label>
    <input type="Number" placeholder="Phone Number">
    <label>G-mail</label>
    <input type="text" placeholder="G-mail">
    <label>Password</label>
    <input type="password" placeholder="Password">
    <label>Conf Password</label>
    <input type="password" placeholder="Conf password">
    <hr>
    <div class="butt">
        <button id="sub">SUBMIT</button>
        <button id="si"><a href="login">LOG IN</a></button>
    </div>
</div>