<div class="container">
  <div class="header">
      <div class="nav-buttons">
          <button class="nav-button"><a href="/home">Home</a></button>
          <button class="nav-button"><a href="/about">About</a></button>
      </div>
      <div class="logo">
          <h1>NGJ Company Pvt. Ltd.</h1>
      </div>
      <div class="auth-buttons">
          <button class="auth-button"><a href="/login">Login</a></button>
          <button class="auth-button"><a href="/signup">Sign Up</a></button>
          
      </div>
  </div>
</div>


<div class="mar">
  <marquee direction="left" class="marquee-text">
      <h5>
          This webpage is created to provide certificates for the internship. If you have any doubts, 
          details, or inquiries, please contact us using the information provided below in the contact form.
      </h5>
  </marquee>
</div>
<h1><a href="/getput">getput</a></h1>
<router-outlet></router-outlet>