<head>
<div class="mean">
        <a href="#">mean</a>
        <a href="#">overview</a>
        <a href="#">access</a>
        <a href="#">new</a>
        <a href="#">learn</a>
        <a href="#">get in</a>
        <div class="upsin">
          <button>signup</button>
        </div>
</div>
  </head>


    <div class="log">
      <h2>Welcome to Ajs constrction services</h2>
    </div>
      <div class="Explore">
        <button>Explore</button>
    </div>    
    <hr style="width: 45%; position: absolute; left: 0; margin: 80px;">
    <hr style="width: 45%; position: absolute; right: 0; margin: 80px;">
    <div style="text-align: center;" class="imh">
      <img src="https://img.freepik.com/premium-vector/aj-letter-logo-design-with-circle-shape-aj-logo-design-with-unique-simple-design_629210-736.jpg" alt="our project showcase" style="width: 150px; height: 150px; display: inline-block; vertical-align: middle;" id="imge">
  </div>


    <div class="text-container">
      <div class="text-block">
        <h3>Innovation at its core</h3>
        <p>Explore our collaborative projects and services, join the conversation.</p>
      </div>
      <div class="text-block">
        <h3>Quality craftsmanship</h3>
        <p>Work with AJS Construction from anywhere, more time for what matters.</p>
      </div>
      <div class="text-block">
        <h3>Client satisfaction</h3>
        <p>Continuous learning and growth and team assant drive our team forward.</p>
      </div>
    </div>
    <hr>


    <div>
      <div class="about">
        <h2>About us</h2>
        Transforming construction service with innovation and blockchain techonology,
      </div>
      <div class="about">
        <h4>Join our team</h4>
      </div>
      <div class="alljobs">
        <button>all jobs</button>
        <button>Enginnering</button>
        <button>Design</button>
        <button>foundation</button>
        <button>commercal</button>
      </div>
      <div class="tab">
        <table>
            <tbody>
                <tr>
                    <td>
                        <img src="https://i.pinimg.com/564x/61/ab/dc/61abdc0caf752e3ff7671975bf13e034.jpg" alt="Logo" style="width: 150px; height: 150px;">
                        <p>design team</p>
                    </td>
                    <td>
                        <img src="https://img.freepik.com/premium-vector/building-information-modeling_946691-1515.jpg" alt="pm" style="width: 150px; height: 150px;">
                        <p>platform management</p>
                    </td>
                    <td>
                        <img src="https://static.vecteezy.com/system/resources/thumbnails/008/985/407/small/programming-courses-web-design-concept-with-people-students-studying-with-computers-scene-online-it-courses-composition-in-flat-style-vector.jpg" alt="jdp" style="width: 150px; height: 150px;">
                        <p>junior design positions</p>
                    </td>
                    <td>
                        <img src="https://senlainc.com/wp-content/uploads/Benchmarking-PC.svg" alt="ops" style="width: 150px; height: 150px;">
                        <p>optimizing performance strategies</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="https://s3.amazonaws.com/utep-uploads/wp-content/uploads/UMD/2020/09/24093746/umd-mba-financial-analyst-image.jpg" alt="far" style="width: 150px; height: 150px;">
                        <p>finance analysis roles</p>
                    </td>
                    <td>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbyy2zEB3JjDA8X2oftWpJDVe69eQQz1UbjhKWk1Qq4g&s" alt="saletem" style="width: 150px; height: 150px;">
                        <p>sales team</p>
                    </td>
                    <td>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7OaQUwFX4KSBVaUdU1isY7-uPaE_tG9B7-NPrFb2Ybg&s" alt="services" style="width: 150px; height: 150px;">
                        <p>services</p>
                    </td>
                    <td>
                        <img src="https://primezonemart.com/wp-content/uploads/2022/05/clients_banner.jpg" alt="clint" style="width: 150px; height: 150px;">
                        <p>clients</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <hr>

    <div>
      <div class="serve">
        <h1>Services overview</h1>
        Discover our latest construction project and servics,providing top-notch quality and customer satisfaction.
      </div>
      <div class="owners">
        <table>
          <tbody>
            <tr>
              <td style="width: 200px;">
                <img src="https://images.hindustantimes.com/img/2022/06/24/1600x900/03_Nandamuri_Balakrishna__1623318303853_1656088887202.jpg" alt="balaya" style="width: 100%; height: auto;">
                <p>John Doe</p>
                <p>Owner</p>
              </td>
              <td style="width: 200px;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSew90D_ujK7dLGpomhuCF0BgbSy321XFmYfu-vm1BSug&s" alt="janesmith" style="width: 100%; height: auto;">
                <p>Janesmith</p>
                <p>Architect</p>
              </td>
              <td style="width: 200px;">
                <img src="https://www.deccanchronicle.com/h-upload/2024/01/26/1072672-chirupadmavibhushan1.webp" alt="cheru" style="width: 100%; height: auto;">
                <p>Michaei Johnson</p>
                <p>Construction Manager</p>
              </td>
              <td style="width: 200px;">
                <img src="https://cdn.siasat.com/wp-content/uploads/2022/12/photo_6075776216163530428_y.jpg" alt="sam" style="width: 100%; height: auto;">
                <p>Sarah Brown</p>
                <p>Project Coordinator</p>
              </td>
            </tr>
            <tr>
              <td style="width: 200px;">
                <img src="https://images.news18.com/ibnlive/uploads/2023/05/jr-ntr-birthday-man-of-masses.jpg" alt="NTR" style="width: 100%; height: auto;">
                <p>Chris Wilson</p>
                <p>IT Manager</p>
              </td>
              <td style="width: 200px;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWcb_Ocr2pmjPE321kA6YsV_aRml1ewG2pdKrdfD8rCg&s" alt="amo" style="width: 100%; height: auto;">
                <p>Laura Davis</p>
                <p>Software Developer</p>
              </td>
              <td style="width: 200px;">
                <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/photogallery/201808/Nagarjuna_IT_1535533429737.jpg?VersionId=BC9628eqg2zOnljzq7zdTGLk_NMWoK.7&size=686:*" alt="naga" style="width: 100%; height: auto;">
                <p>Kevin Clark</p>
                <p>Web Designer</p>
              </td>
              <td style="width: 200px;">
                <img src="https://live.staticflickr.com/1723/28975871518_191a23b9f5_b.jpg" alt="kajal" style="width: 100%; height: auto;">
                <p>Olivia White</p>
                <p>Operations</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
    </div>
    <hr>
<div class="signup">
  <h2>Login or Sign up now</h2>
        <div>
            <input type="email" ng-model="ctrl.email" placeholder="Enter email">
            <button ng-click="ctrl.login()">Log in / Sign up</button>
        </div>
        <br>
        <div class="mean">
          <a href="#">mean</a>
          <a href="#">overview</a>
          <a href="#">access</a>
          <a href="#">new</a>
          <a href="#">learn</a>
          <a href="#">get in</a>
          <div class="upsin">
            <button>signup</button>
          </div>
  </div>
</div>
