.container {
    padding: 20px;
}

h2 {
    color: #4CAF50;
    margin-bottom: 20px;
}

.recommendations img {
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.recommendations button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.recent-searches {
    margin-top: 20px;
}

.recent-searches img {
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.recent-searches hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #ccc;
}

.additional-images {
    padding-bottom: 12%;
    display: none;
}
