<h1 mat-dialog-title>Get Started</h1>
<div mat-dialog-content>
<button mat-raised-button color="primary" style="margin-bottom: 10px; width: 100%;">
<a href="https://search.app.goo.gl/8PjAJAF">Continue with Google</a>
</button>
<button mat-raised-button style="margin-bottom: 10px; width: 100%;">
    <a href="https://accounts.google.com/ServiceLogin?service=mail">Continue with Email</a>
</button>
<button mat-raised-button style="margin-bottom: 10px; width: 100%;">
    <a href="https://in.bookmyshow.com/explore/home/hyderabad">Continue with Apple</a>
</button>
<div style="text-align: center; margin: 20px 0;">OR</div>
<mat-form-field appearance="fill" style="width: 100%;">
<mat-label>Continue with mobile number</mat-label>
    <input matInput placeholder="+91">
</mat-form-field>
<p style="text-align: center; margin-top: 20px;">
    I agree to the <a href="#">Terms & Conditions</a> & <a href="#">Privacy Policy</a>
</p>
</div>
<div mat-dialog-actions>
<button mat-button mat-dialog-close>Cancel</button>
</div>
