<div class="movie-card">
        <div class="poster">
            <a href="https://youtu.be/S-uyJLnsauo?si=mMtNg20Z4FHmFmf1"><img src="https://in.bmscdn.com/events/moviecard/ET00396957.jpg" alt="Raju Yadav Poster"></a>
            </div>
            <div class="details">
            <h1>Raju Yadav</h1>
            <div class="info">
                <button>2D</button>
                <button>Telugu</button>
                <p>2h 1m • Comedy, Drama, Romantic • UA • 24 May, 2024</p>
            </div>
            <button class="book-tickets"><a href="bookmyshow">Book tickets</a></button>
            </div>
            <div id="sher">
                <button id="sher"><img src="https://png.pngtree.com/png-clipart/20221115/ourmid/pngtree-share-icon-button-png-image_6454552.png" height="20px" width="90px"></button>
            </div>
</div>

<div class="info">
    <div class="inf">
        <h1>Based on a real story, Raju consults a local doctor after a cricket-related accident, 
            and his improper treatment results in a facial 
            disorder where Raju is forced to smile. A challenge arises when he falls in love with Sweety.</h1>
            <hr>
            <div class="data">
                <h1>CAST</h1>
                <div id="photo">
                    <a href="https://in.bookmyshow.com/person/bodupalli-srinu/1063651"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYzLzJ7HBGlPYbHKL_4jRYpaczVuW6BZfmSGmBP84vQw&s" height="300px">
                    </a>
                    <h1>
                        Bodupalli Srinu
                    </h1>
                </div>
                <div>
                    <a href="#aaa"><img src="https://images.filmibeat.com/img/popcorn/profile_photos/ankita-kharat-20230116202012-48368.jpg" height="300px"></a>
                </div>
            </div>
    </div>

</div>


